*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh sans', sans-serif;

}

/*navbar code*/

.navbar{
    background: #add8e6;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}

.firstdiv{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}
#logo{
    background-color: #0e2749;
  
    background-size:100% ;
    -webkit-background-clip: text;
    -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;


}
.fr{
    margin-right: 0.5rem;
}

.navebar{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    
}
.navy{
    height: 80px;
}
.link{
    color: #0e2749;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
}

.butt{
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 0 1rem;
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #0e2749;
    color: #ffffff;
    font-size: 20px;
}
.button:hover{
    background: #1a3c47;
    transition: all 0.3s ease;

}
.links:hover{
    color: #1a3c47;
    transition: all 0.3s ease;

}

@media screen and (max-width: 968px){
    .navbar{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1440px;
        padding: 0;
    }
    .navebar{
display: grid;
grid-template-columns: auto;
margin: 0;
width: 100%;
position: absolute;
top: -1000px;
opacity: 0;
transition: all 0.5s ease;
height: 50vh;
z-index: -1;
background: #1a3c47;
    }
    .navebar.active{
        background:#1a3c47;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size:1.6rem;
        
    }
    #logo{
        padding-left: 25px;

    }
    .togglebar .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #ffffff;

    }
    .navy{
        width: 100%;
    }
    .link{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        color: #ffffff;
    }
    #togglemenu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform:translate(5%, 20%);
    }
    .butt{
        padding-bottom: 2rem;
    }
    .button{
        display: flex;
        justify-content: center;
        width: 50%;
        height: 40px;
        margin: 0;

    }
    .togglebar .bar{
        display: block;
        cursor: pointer;
        color: #ffffff;
    }
   
    #togglemenu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #togglemenu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #togglemenu.is-active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }   
}

/*end of nav bar code*/

.main{
 background-color: #ffffff;
}
.seconddive{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;

}
.mainer h1{
    font-size: 3rem;
    background-color: #1a3c47;
    background-image: linear-gradient(to top, #141414 0%, #add 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.mainer h2{
    font-size: 2rem;
    background-color: #1a3c47;
    background-image: linear-gradient(to top, #0e2749 0%, #141414 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.mainer p{
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 500;
    color: #0e2749 ;
}
.btns{
font-size: 1rem;
background-image: linear-gradient(to top, #141414 0%, #add 100%);
padding: 14px 32px;
border: none;
border-radius: 4px;
color: #0e2749;
margin-top: 2rem;
cursor: pointer;
position: relative;
transition: all 0.25s;
outline: none;
}

.btns a{
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
}
.btns:after{
position: absolute;
content: '';
top: 0;
left: 0;
width: 0;
height: 100%;
background: #21416e;
transition: all 0.25s;
border-radius: 4px;
}

.btns:hover{
color: #ffffff;
} 
.btns:hover:after{
    width: 100%;
}
.imag{
    text-align: center;

}
#img{
    width: 80%;
    height: 80%;
    background-color: #ffffff;
}
@media  screen and (max-width: 768px) {
  .main{
      background-color: #ffffff;
  } 
    .seconddive {
     display: grid;
     grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
        background-color: #ffffff;

    }
    .mainer{
        text-align: center;
        margin-bottom: 4rem;

    }
    .mainer h1{
        font-size: 3rem;
    }
    .mainer h2{
        font-size: 2rem;

    }
    .mainer p{
        margin-top: 1rem;
        font-size: 1.5rem;
    
    }
}
@media screen and (max-width:480px) {
  .navbar{
      width: 100%;
  }
    .main{
       background-color: #ffffff;
   }
    .mainer h1{
        font-size: 2rem;
        margin-top: 3rem;

    }
    .mainer h2{
        font-size: 2rem;
    }
    .mainer{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .btns{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
    
}
@media screen and (max-width:320px) {
  .navbar{
      width: 367px;
      font-size: 5px;
  }
  
    .main{
        background-color: #ffffff
    }
    .mainer h1{
        font-size: 2rem;
        margin-top: 2rem;

    }
    .mainer h2{
        font-size: 2rem;
    }
    .mainer{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .btns{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
    
}
/*end of second div*/

.here{
    background-size: 100%;

}
.container{
    padding: 40px 50px;
  }
  #logg{
    background-color: #ffffff;
  width: 30%;
    background-size: 70%;
    border-radius: 30px;
    box-shadow: 4px 3px 2px 4px #cfd2d6;
    font-size: 4rem;
    text-align: center;
    border-radius: 420px;
  padding: 10px 10px;
      line-height: 1.5;
      color: #0e2749;
      align-content: center;
      margin: 20px 120px;
  } 
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }
  
  .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    height: 400px;
  }
  
  .grid > article img {
    max-width: 100%;
  }
  
  .grid .text {
    padding: 20px;
  }
  .btn{
    display: inline-block;
          background-color: #21416e;
          border-radius: 5px;
          border: 4px double #cccccc;
          color: #eeeeee;
          text-align: center;
          font-size: 10px;
          padding: 4px;
          width: 230px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          cursor: pointer;
          margin: 5px;
  }
    
@media  screen and (max-width: 768px) {
   .here{
    background-size: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
  
  .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-left: 70px;
    }
    .grid{
        display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 510px;
    height: 200px;
    text-align: center;
    background-color:  #ffffff;
    box-shadow: 1px 1px 5px #cfd2d6;
    padding: 10px 20px;
    margin: 20px 20px;
    border-radius: 20px;
    position: relative;
    flex-grow: 1;
    }
}
@media screen and (max-width:480px){

  .here{
    background-size: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 600px;

  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    margin-left: 70px;
}
.grid{
    display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
width: 510px;
height: 200px;
text-align: center;
background-color:  #ffffff;
box-shadow: 1px 1px 5px #cfd2d6;
padding: 10px 20px;
margin: 20px 20px;
border-radius: 20px;
position: relative;
flex-grow: 1;
}
}
@media screen and (max-width:320px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
        margin-left: 70px;
    }
    .grid{
        display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 260px;
    height: 200px;
    text-align: center;
    background-color:  #ffffff;
    box-shadow: 2px 2px 20px #21416e;
    padding: 10px 20px;
    margin: 20px 20px;
    border-radius: 20px;
    position: relative;
    flex-grow: 1;
    }
}
/*end of grid column*/


  
/*i had to add comment because this code is getting too long*/
.news{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
    padding: 30px 0px;
    margin-top: 80px;

}
.news h2{
    font-size: 3rem;
    text-align: center;
    color: #0e2749;
    margin: 20px;

}
.ini{
    width: 900px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 2px 20px #cdd0d6;
    background-color: #ffffff;
}
.ini input{
    width: 600px;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: black

}
.ini a{
width: 200px;
height: 45px;
background-color: #21416e;
color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
font-size: 0.9rem;
margin: auto 10px;
margin-left: 100px;
border-radius: 20px;
text-decoration: none;

}
@media  screen and (max-width: 768px) {
    .news{
        max-width: 500px;
        margin-top: 500px;
    }
    .ini{
        max-width: 470px;
        height: 30px;
        display: flex;
        justify-content: center;
        border-radius: 30px;
        box-shadow: 2px 2px 20px #cdd0d6;
        background-color: #ffffff;
        margin-right: 40px;
       
    }
    
}
/*end of newsletter*/
h3{
  text-align: center;
  color: #1a3c47;
  font-size: 30px;

}
.faq{
  margin-top: 200px;
}
.accordion {
  background-color: #ffffff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/*end of faq*/
/*this is the code for my footer*/
footer{
    margin-top: 100px;
    width: 100%;
    position: relative;
    bottom: 1000;
    left: 0;
    background: #add8e6;
    height: 100vh;
  }
  footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content p,a{
    color: #21416e;
  }
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #21416e;
    margin-bottom: 16px;
  
  }
  footer .content p{
    text-align: justify;
  }
  footer .content .lower .topic{
    margin: 24px 0 5px 0;
  }
  footer .content .lower i{
    padding-right: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }
  footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
  }
  footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #1a3c47;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #1a3c47;
    transition: all 0.3s ease-in-out;
  }
  .content .right input[type="submit"]:hover{
    background: none;
    color:  #21416e;
  }
  footer .content .media-icons a{
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
  }
  .content .media-icons a:hover{
    border-color: #1a3c47;
  }
  footer .bottom{
    width: 100%;
    text-align: right;
    color: #21416e;
    padding: 0 40px 5px 0;
  }
  footer .bottom a{
    color: #1a3c47;
    font-weight: 400;
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: #0e2749;
  }
  @media (max-width:1100px) {
    footer .content .middle{
      padding-left: 50px;
    }
  }
  @media (max-width:950px){
    footer .content .box{
      width: 50%;
    }
    .content .right{
      margin-top: 40px;
    }
  }
  @media (max-width:560px){
    footer{
      position: relative;
    }
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left: 0;
    }
  }